body {
  font: 400 16px/1.5 "Menlo";
  color: #000000;
  background-color: #dddddd;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }


.current{
color: white;
}


.rightAlign{
  float: right
}

.centerAlign{
  float: center
}